
<div class="card-box">
    <form [formGroup]="register" (ngSubmit)="SaveCustomer()">

   
    <div class="row">
      <h2 style="text-align: center;" >Add/Edit Customer</h2>
    </div>
    <div class="row">
      <div class="offset-lg-3 col-lg-6">
          <div class="form-group">
              <label for="txtcode">Code</label>
              <input type="text" id="txtcode" class="form-control" formControlName="id" autocomplete="off" />
          </div>
      </div>
  </div>
  <div class="row">
    <div class="offset-lg-3 col-lg-6">
        <div class="form-group">
            <label for="txtname">Name</label>
            <input type="text" id="txtname" class="form-control"  formControlName="name" autocomplete="off"  />
            <span *ngIf="name && name.invalid && name.touched" class="error">Please enter data</span>
        </div>
    </div>
  </div>
  <div class="row">
    <div class="offset-lg-3 col-lg-6">
        <div class="form-group">
            <label for="txtemail">Email</label>
            <input type="text" id="txtemail" class="form-control"  formControlName="email" autocomplete="off"  />
            <span *ngIf="email && email.invalid && email.touched" class="error">Please enter valid Email</span>
        </div>
    </div>
  </div>
  <div class="row">
    <div class="offset-lg-3 col-lg-6">
        <div class="form-group">
            <label for="txtphone">Phone</label>
            <input type="text" id="txtphone" class="form-control"  formControlName="phone" autocomplete="off"  />
        </div>
    </div>
  </div>
  <div class="row">
    <div class="offset-lg-3 col-lg-2">
      <br>
        <div class="form-group">
           <button type="submit" class="btn btn-primary btn-lg btn-block" >Submit</button>
        </div>
    </div>
    <div class="col-lg-3">
        <br>
        <span class={{messageclass}}>{{message}}</span>
    </div>
  </div>
</form>
  
  </div>

